@import "tailwindcss";

@theme {
  --color-blue-light: #3b82f6;
  --color-blue: #2563eb;
  --color-blue-dark: #1d4ed8;
  --color-gold: #D4AF37;
  --color-gold-light: #F3E5AB;
  --color-gold-dark: #B5952F;
  --color-dark: #1F2937;
  --color-darker: #111827;
}

:root {
  --background: #ffffff;
  --foreground: #111827;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #f9fafb;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
